<nav class="black" role="navigation">
  <div class="nav-wrapper container">
    <a id="logo-container" href="/" class="brand-logo">
      <img src="https://bltassets-cdn3.global.ssl.fastly.net/assets/logo/header-logo-white.png"
      />
    </a>
    <ul class="right hide-on-med-and-down">
      <li>
        <a routerLink="/events">Editar eventos</a>
      </li>
    </ul>

    <ul id="nav-mobile" class="side-nav">
      <li>
        <a routerLink="/events">Edita eventos</a>
      </li>
    </ul>
  </div>
</nav>